---
- name: Set global UMASK
  become: yes
  lineinfile: dest=/etc/login.defs state=present regexp='^UMASK' line='UMASK\t\t002'

- name: Update apt packages and perform dist upgrade
  become: yes
  apt:
    update_cache: yes
    upgrade: dist

- name: Update fstab Configuration
  become: yes
  template: src=fstab.tpl dest=/etc/fstab

- name: Update folder permissions
  become: yes
  shell: chown -R www-data:www-data /vagrant && chmod -R g+rwx /vagrant && chmod g+s /vagrant

- name: add user vagrant zu www-data
  become: yes
  shell: adduser vagrant www-data

- name: Install System Packages
  become: yes
  apt: pkg={{ item }} state=latest
  with_items:
    - curl
    - wget
    - python-software-properties
    - npm
    - libfontconfig1
    - silversearcher-ag
    - a2ps
    - fontconfig
    - xfonts-base
    - xfonts-75dpi
    - xfonts-utils
    - libsasl2-dev
    - pkg-config
    - language-pack-en-base
    - pdftk
    - libx11-6
    - libxext6
    - libxrender1
    - build-essential
    - mydumper
    - imagemagick

- name: Install phantomjs
  become: yes
  shell: curl -O -L https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-2.1.1-linux-x86_64.tar.bz2 && tar xvfj phantomjs-2.1.1-linux-x86_64.tar.bz2 && mv phantomjs-2.1.1-linux-x86_64/bin/phantomjs /usr/local/bin/ && rm -rf phantomjs-2.1.1*

- name: Add ppa Repository
  become: yes
  apt_repository: repo=ppa:ondrej/{{ php_ppa }}

- name: Update apt
  become: yes
  apt: update_cache=yes

- name: Install Extra Packages
  become: yes
  apt: pkg={{ item }} state=latest
  with_items: "{{sys_packages}}"

- name: Configure the timezone
  become: yes
  template: src=timezone.tpl dest=/etc/timezone

- name: More Configure the timezone
  become: yes
  file: src=/usr/share/zoneinfo/Europe/Berlin dest=/etc/localtime state=link force=yes backup=yes

- name: Set the hostname in /etc/hostname
  become: yes
  shell: echo {{ hostname }} > /etc/hostname
  when: hostname is defined

- name: Set the hostname
  become: yes
  shell: hostname {{ hostname }}
  when: hostname is defined

- name: Update /etc/hosts
  become: yes
  lineinfile: dest=/etc/hosts regexp='^127\.0\.0\.1' line='127.0.0.1 localhost {{ hostname }}' owner=root group=root mode=0644

- name: Install uglifyjs and uglifycss
  become: yes
  shell: npm install uglifycss -g && npm install uglify-js -g

- name: Install sf command aliases
  lineinfile:
    dest: /home/vagrant/.profile
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  with_items:
    - { regexp: 'alias sf', line: 'alias sf=$(`git rev-parse --show-toplevel --quiet 2>/dev/null` || echo ".")/bin/console --env=dev' }
    - { regexp: 'alias sfprod', line: 'alias sfprod=$(`git rev-parse --show-toplevel --quiet 2>/dev/null` || echo ".")/bin/console --env=prod' }

- name: newolution | Install wkhtmltopdf
  become: yes
  shell: curl -O -L https://github.com/wkhtmltopdf/wkhtmltopdf/releases/download/0.12.4/wkhtmltox-0.12.4_linux-generic-amd64.tar.xz && tar xJf wkhtmltox-0.12.4_linux-generic-amd64.tar.xz &&  mv wkhtmltox/bin/wkhtmltopdf /usr/local/bin/ && rm -rf wkhtmltox*
