- name: Install php-cli
  become: yes
  apt: pkg=php7.0-cli state=latest

- name: ensure timezone is set in cli php.ini
  lineinfile: dest='/etc/php/7.0/cli/php.ini'
              regexp='date.timezone ='
              line='date.timezone = {{ timezone }}'

- name: Install php-fpm
  become: yes
  apt: pkg=php7.0-fpm state=latest

- name: Install PHP Packages
  become: yes
  apt: pkg={{ item }} state=latest
  with_items: "{{php_packages}}"

- name: Set permissions on socket - owner
  lineinfile: "dest=/etc/php/7.0/fpm/pool.d/www.conf state=present regexp='^;?listen.owner' line='listen.owner = www-data'"

- name: Set permissions on socket - group
  lineinfile: "dest=/etc/php/7.0/fpm/pool.d/www.conf state=present regexp='^;?listen.group' line='listen.group = www-data'"

- name: Set permissions on socket - mode
  lineinfile: "dest=/etc/php/7.0/fpm/pool.d/www.conf state=present regexp='^;?listen.mode' line='listen.mode = 0660'"
  notify: restart php-fpm

- name: ensure timezone is set in fpm php.ini
  lineinfile: dest=/etc/php/7.0/fpm/php.ini
              regexp='date.timezone ='
              line='date.timezone = {{ timezone }}'

- name: ensure memory limit is 1024M php.ini
  lineinfile: dest='/etc/php/7.0/fpm/php.ini'
              regexp='memory_limit ='
              line='memory_limit = 1024M'

- name: Install xdebug
  become: yes
  shell: pecl install xdebug

- name: Provide xdebug template
  become: yes
  template: src=20-xdebug.ini dest=/etc/php/7.0/fpm/conf.d/20-xdebug.ini
  notify: restart php-fpm

- name: Install apcu
  become: yes
  shell: echo "\n\n\n\n\n\n\n\n\n" | pecl install apcu

- name: Install apcu apc bc layer
  become: yes
  shell: echo "\n\n\n\n\n\n\n\n\n" | pecl install apcu_bc-1.0.1

- name: Provide apc template
  become: yes
  template: src=20-apc.ini dest=/etc/php/7.0/mods-available/apc.ini

- name: Enable apc extension on cli
  file:
    src: "/etc/php/7.0/mods-available/apc.ini"
    dest: "/etc/php/7.0/cli/conf.d/20-apc.ini"
    state: link

- name: Enable apc extension on fpm
  file:
    src: "/etc/php/7.0/mods-available/apc.ini"
    dest: "/etc/php/7.0/fpm/conf.d/20-apc.ini"
    state: link

- name: Install Package
  shell: echo "\n\n\n\n\n\n\n\n\n" | pecl install {{ item }}
  register: pecl_result
  changed_when: "'already installed' not in pecl_result.stdout"
  failed_when: "pecl_result.stderr or ('ERROR' in pecl_result.stdout)"
  with_items: "{{pecl_packages}}"

- name: Create extension .ini file
  template: >
    src="extension.tpl"
    dest="/etc/php/7.0/mods-available/{{ item }}.ini"
    owner="root"
    group="root"
    mode=0644
  with_items: "{{pecl_packages}}"

- name: Enable extension on cli
  file:
    src: "/etc/php/7.0/mods-available/{{ item }}.ini"
    dest: "/etc/php/7.0/cli/conf.d/20-{{ item }}.ini"
    state: link
  with_items: "{{pecl_packages}}"

- name: Enable extension on fpm
  file:
    src: "/etc/php/7.0/mods-available/{{ item }}.ini"
    dest: "/etc/php/7.0/fpm/conf.d/20-{{ item }}.ini"
    state: link
  with_items: "{{pecl_packages}}"
